{% extends 'base.html' %}
{% load static %}
{% block container %}

<div class="app-main__outer m-5">
                <div class="app-main__inner">
                    <div class="tabs-animation">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="main-card mb-3 card">
                                    <div class="card-header text-info"><button class="btn btn-outline-link"><i class="fa fa-plus btn-icon-wrapper mr-1 text-info"> </i></button> Add New Item
                                        <div class="btn-actions-pane-right">
                                            <div role="group" class="btn-group-sm btn-group">
                                                <div class="input-group-prepend">
                                                    <input  placeholder="Search..." type="text" class="form-control mr-1 rounded-pill border-success">
                                                    <button class="btn-pill btn btn-outline-success"><i class="fa fa-search fa-w-16"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="table-responsive">
                                        <div class="scroll-area">
                                            <div class="scrollbar-container">
                                                <div class="row m-2">
                                                    <div class="col-md-2">
                                                        <div class="main-card mb-3 card"><img width="100%" src="https://media.istockphoto.com/id/1153376243/photo/domestic-waste-for-compost-from-fruits-and-vegetables-on-the-table.jpg?s=612x612&w=0&k=20&c=n8VZvhw4UyUvoNNpHLC5bHe2w5lzolfY_iLs8wtoDnI=" alt="Card image cap" class="card-img-top">
                                                            <div class="card-body">
                                                                <h5 class="card-title">Name name</h5>
                                                                <h6 class="card-subtitle">12$</h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <div class="main-card mb-3 card"><img width="100%" src="https://media.istockphoto.com/id/1153376243/photo/domestic-waste-for-compost-from-fruits-and-vegetables-on-the-table.jpg?s=612x612&w=0&k=20&c=n8VZvhw4UyUvoNNpHLC5bHe2w5lzolfY_iLs8wtoDnI=" alt="Card image cap" class="card-img-top">
                                                            <div class="card-body">
                                                                <h5 class="card-title">Name name</h5>
                                                                <h6 class="card-subtitle">12$</h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <div class="main-card mb-3 card"><img width="100%" src="https://media.istockphoto.com/id/1153376243/photo/domestic-waste-for-compost-from-fruits-and-vegetables-on-the-table.jpg?s=612x612&w=0&k=20&c=n8VZvhw4UyUvoNNpHLC5bHe2w5lzolfY_iLs8wtoDnI=" alt="Card image cap" class="card-img-top">
                                                            <div class="card-body">
                                                                <h5 class="card-title">Name name</h5>
                                                                <h6 class="card-subtitle">12$</h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <div class="main-card mb-3 card"><img width="100%" src="https://media.istockphoto.com/id/1153376243/photo/domestic-waste-for-compost-from-fruits-and-vegetables-on-the-table.jpg?s=612x612&w=0&k=20&c=n8VZvhw4UyUvoNNpHLC5bHe2w5lzolfY_iLs8wtoDnI=" alt="Card image cap" class="card-img-top">
                                                            <div class="card-body">
                                                                <h5 class="card-title">Name name</h5>
                                                                <h6 class="card-subtitle">12$</h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <div class="main-card mb-3 card"><img width="100%" src="https://media.istockphoto.com/id/1153376243/photo/domestic-waste-for-compost-from-fruits-and-vegetables-on-the-table.jpg?s=612x612&w=0&k=20&c=n8VZvhw4UyUvoNNpHLC5bHe2w5lzolfY_iLs8wtoDnI=" alt="Card image cap" class="card-img-top">
                                                            <div class="card-body">
                                                                <h5 class="card-title">Name name</h5>
                                                                <h6 class="card-subtitle">12$</h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <div class="main-card mb-3 card"><img width="100%" src="https://media.istockphoto.com/id/1153376243/photo/domestic-waste-for-compost-from-fruits-and-vegetables-on-the-table.jpg?s=612x612&w=0&k=20&c=n8VZvhw4UyUvoNNpHLC5bHe2w5lzolfY_iLs8wtoDnI=" alt="Card image cap" class="card-img-top">
                                                            <div class="card-body">
                                                                <h5 class="card-title">Name name</h5>
                                                                <h6 class="card-subtitle">12$</h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row m-2">
                                                    <div class="col-md-2">
                                                        <div class="main-card mb-3 card"><img width="100%" src="https://media.istockphoto.com/id/1153376243/photo/domestic-waste-for-compost-from-fruits-and-vegetables-on-the-table.jpg?s=612x612&w=0&k=20&c=n8VZvhw4UyUvoNNpHLC5bHe2w5lzolfY_iLs8wtoDnI=" alt="Card image cap" class="card-img-top">
                                                            <div class="card-body">
                                                                <h5 class="card-title">Name name</h5>
                                                                <h6 class="card-subtitle">12$</h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <div class="main-card mb-3 card"><img width="100%" src="https://media.istockphoto.com/id/1153376243/photo/domestic-waste-for-compost-from-fruits-and-vegetables-on-the-table.jpg?s=612x612&w=0&k=20&c=n8VZvhw4UyUvoNNpHLC5bHe2w5lzolfY_iLs8wtoDnI=" alt="Card image cap" class="card-img-top">
                                                            <div class="card-body">
                                                                <h5 class="card-title">Name name</h5>
                                                                <h6 class="card-subtitle">12$</h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <div class="main-card mb-3 card"><img width="100%" src="https://media.istockphoto.com/id/1153376243/photo/domestic-waste-for-compost-from-fruits-and-vegetables-on-the-table.jpg?s=612x612&w=0&k=20&c=n8VZvhw4UyUvoNNpHLC5bHe2w5lzolfY_iLs8wtoDnI=" alt="Card image cap" class="card-img-top">
                                                            <div class="card-body">
                                                                <h5 class="card-title">Name name</h5>
                                                                <h6 class="card-subtitle">12$</h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <div class="main-card mb-3 card"><img width="100%" src="https://media.istockphoto.com/id/1153376243/photo/domestic-waste-for-compost-from-fruits-and-vegetables-on-the-table.jpg?s=612x612&w=0&k=20&c=n8VZvhw4UyUvoNNpHLC5bHe2w5lzolfY_iLs8wtoDnI=" alt="Card image cap" class="card-img-top">
                                                            <div class="card-body">
                                                                <h5 class="card-title">Name name</h5>
                                                                <h6 class="card-subtitle">12$</h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <div class="main-card mb-3 card"><img width="100%" src="https://media.istockphoto.com/id/1153376243/photo/domestic-waste-for-compost-from-fruits-and-vegetables-on-the-table.jpg?s=612x612&w=0&k=20&c=n8VZvhw4UyUvoNNpHLC5bHe2w5lzolfY_iLs8wtoDnI=" alt="Card image cap" class="card-img-top">
                                                            <div class="card-body">
                                                                <h5 class="card-title">Name name</h5>
                                                                <h6 class="card-subtitle">12$</h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <div class="main-card mb-3 card"><img width="100%" src="https://media.istockphoto.com/id/1153376243/photo/domestic-waste-for-compost-from-fruits-and-vegetables-on-the-table.jpg?s=612x612&w=0&k=20&c=n8VZvhw4UyUvoNNpHLC5bHe2w5lzolfY_iLs8wtoDnI=" alt="Card image cap" class="card-img-top">
                                                            <div class="card-body">
                                                                <h5 class="card-title">Name name</h5>
                                                                <h6 class="card-subtitle">12$</h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row m-2">
                                                    <div class="col-md-2">
                                                        <div class="main-card mb-3 card"><img width="100%" src="https://media.istockphoto.com/id/1153376243/photo/domestic-waste-for-compost-from-fruits-and-vegetables-on-the-table.jpg?s=612x612&w=0&k=20&c=n8VZvhw4UyUvoNNpHLC5bHe2w5lzolfY_iLs8wtoDnI=" alt="Card image cap" class="card-img-top">
                                                            <div class="card-body">
                                                                <h5 class="card-title">Name name</h5>
                                                                <h6 class="card-subtitle">12$</h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <div class="main-card mb-3 card"><img width="100%" src="https://media.istockphoto.com/id/1153376243/photo/domestic-waste-for-compost-from-fruits-and-vegetables-on-the-table.jpg?s=612x612&w=0&k=20&c=n8VZvhw4UyUvoNNpHLC5bHe2w5lzolfY_iLs8wtoDnI=" alt="Card image cap" class="card-img-top">
                                                            <div class="card-body">
                                                                <h5 class="card-title">Name name</h5>
                                                                <h6 class="card-subtitle">12$</h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <div class="main-card mb-3 card"><img width="100%" src="https://media.istockphoto.com/id/1153376243/photo/domestic-waste-for-compost-from-fruits-and-vegetables-on-the-table.jpg?s=612x612&w=0&k=20&c=n8VZvhw4UyUvoNNpHLC5bHe2w5lzolfY_iLs8wtoDnI=" alt="Card image cap" class="card-img-top">
                                                            <div class="card-body">
                                                                <h5 class="card-title">Name name</h5>
                                                                <h6 class="card-subtitle">12$</h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <div class="main-card mb-3 card"><img width="100%" src="https://media.istockphoto.com/id/1153376243/photo/domestic-waste-for-compost-from-fruits-and-vegetables-on-the-table.jpg?s=612x612&w=0&k=20&c=n8VZvhw4UyUvoNNpHLC5bHe2w5lzolfY_iLs8wtoDnI=" alt="Card image cap" class="card-img-top">
                                                            <div class="card-body">
                                                                <h5 class="card-title">Name name</h5>
                                                                <h6 class="card-subtitle">12$</h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <div class="main-card mb-3 card"><img width="100%" src="https://media.istockphoto.com/id/1153376243/photo/domestic-waste-for-compost-from-fruits-and-vegetables-on-the-table.jpg?s=612x612&w=0&k=20&c=n8VZvhw4UyUvoNNpHLC5bHe2w5lzolfY_iLs8wtoDnI=" alt="Card image cap" class="card-img-top">
                                                            <div class="card-body">
                                                                <h5 class="card-title">Name name</h5>
                                                                <h6 class="card-subtitle">12$</h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <div class="main-card mb-3 card"><img width="100%" src="https://media.istockphoto.com/id/1153376243/photo/domestic-waste-for-compost-from-fruits-and-vegetables-on-the-table.jpg?s=612x612&w=0&k=20&c=n8VZvhw4UyUvoNNpHLC5bHe2w5lzolfY_iLs8wtoDnI=" alt="Card image cap" class="card-img-top">
                                                            <div class="card-body">
                                                                <h5 class="card-title">Name name</h5>
                                                                <h6 class="card-subtitle">12$</h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row m-2">
                                                    <div class="col-md-2">
                                                        <div class="main-card mb-3 card"><img width="100%" src="https://media.istockphoto.com/id/1153376243/photo/domestic-waste-for-compost-from-fruits-and-vegetables-on-the-table.jpg?s=612x612&w=0&k=20&c=n8VZvhw4UyUvoNNpHLC5bHe2w5lzolfY_iLs8wtoDnI=" alt="Card image cap" class="card-img-top">
                                                            <div class="card-body">
                                                                <h5 class="card-title">Name name</h5>
                                                                <h6 class="card-subtitle">12$</h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <div class="main-card mb-3 card"><img width="100%" src="https://media.istockphoto.com/id/1153376243/photo/domestic-waste-for-compost-from-fruits-and-vegetables-on-the-table.jpg?s=612x612&w=0&k=20&c=n8VZvhw4UyUvoNNpHLC5bHe2w5lzolfY_iLs8wtoDnI=" alt="Card image cap" class="card-img-top">
                                                            <div class="card-body">
                                                                <h5 class="card-title">Name name</h5>
                                                                <h6 class="card-subtitle">12$</h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <div class="main-card mb-3 card"><img width="100%" src="https://media.istockphoto.com/id/1153376243/photo/domestic-waste-for-compost-from-fruits-and-vegetables-on-the-table.jpg?s=612x612&w=0&k=20&c=n8VZvhw4UyUvoNNpHLC5bHe2w5lzolfY_iLs8wtoDnI=" alt="Card image cap" class="card-img-top">
                                                            <div class="card-body">
                                                                <h5 class="card-title">Name name</h5>
                                                                <h6 class="card-subtitle">12$</h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <div class="main-card mb-3 card"><img width="100%" src="https://media.istockphoto.com/id/1153376243/photo/domestic-waste-for-compost-from-fruits-and-vegetables-on-the-table.jpg?s=612x612&w=0&k=20&c=n8VZvhw4UyUvoNNpHLC5bHe2w5lzolfY_iLs8wtoDnI=" alt="Card image cap" class="card-img-top">
                                                            <div class="card-body">
                                                                <h5 class="card-title">Name name</h5>
                                                                <h6 class="card-subtitle">12$</h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <div class="main-card mb-3 card"><img width="100%" src="https://media.istockphoto.com/id/1153376243/photo/domestic-waste-for-compost-from-fruits-and-vegetables-on-the-table.jpg?s=612x612&w=0&k=20&c=n8VZvhw4UyUvoNNpHLC5bHe2w5lzolfY_iLs8wtoDnI=" alt="Card image cap" class="card-img-top">
                                                            <div class="card-body">
                                                                <h5 class="card-title">Name name</h5>
                                                                <h6 class="card-subtitle">12$</h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <div class="main-card mb-3 card"><img width="100%" src="https://media.istockphoto.com/id/1153376243/photo/domestic-waste-for-compost-from-fruits-and-vegetables-on-the-table.jpg?s=612x612&w=0&k=20&c=n8VZvhw4UyUvoNNpHLC5bHe2w5lzolfY_iLs8wtoDnI=" alt="Card image cap" class="card-img-top">
                                                            <div class="card-body">
                                                                <h5 class="card-title">Name name</h5>
                                                                <h6 class="card-subtitle">12$</h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="main-card mb-3 card">
                                    <div class="card-header">Checkout
                                    </div>
                                    <div class="table-responsive">
                                        <table class="align-middle mb-0 table table-borderless table-striped table-hover">
                                            <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Name</th>
                                                <th class="text-center">QTY</th>
                                                <th class="text-center">Price</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td >
                                                    <button class="btn-icon btn-icon-only btn "><i class="pe-7s-trash btn-icon-wrapper"> </i></button>
                                                </td>
                                                <td class="">Madrid</td>
                                                <td class="text-center">Madrid</td>
                                                <td class="text-center">
                                                    <div class="badge badge-warning">Pending</div>
                                                </td>

                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="d-block text-center card-footer">
                                        Total
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                        <div class="col-md-6 col-lg-2">
                            <div class="widget-chart widget-chart2 text-left mb-3 card-btm-border card-shadow-info border-info card">
                                <div class="widget-chat-wrapper-outer">
                                    <div class="widget-chart-content">
                                        <button class="btn-icon-vertical btn-transition  pt-2 pb-2 btn btn-outline-link">
                                            <i class="fa fa-coffee text-dark btn-icon-wrapper mb-2"> </i>
                                            Support
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-2">
                            <div class="widget-chart widget-chart2 text-left mb-3 card-btm-border card-shadow-info border-info card">
                                <div class="widget-chat-wrapper-outer">
                                    <div class="widget-chart-content">
                                        <button class="btn-icon-vertical btn-transition  pt-2 pb-2 btn btn-outline-link">
                                            <i class="fa fa-beer text-dark btn-icon-wrapper mb-2"> </i>
                                            Support
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-2">
                            <div class="widget-chart widget-chart2 text-left mb-3 card-btm-border card-shadow-info border-info card">
                                <div class="widget-chat-wrapper-outer">
                                    <div class="widget-chart-content">
                                        <button class="btn-icon-vertical btn-transition  pt-2 pb-2 btn btn-outline-link">
                                            <i class="fa fa-birthday-cake text-dark btn-icon-wrapper mb-2"> </i>
                                            Support
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-2">
                            <div class="widget-chart widget-chart2 text-left mb-3 card-btm-border card-shadow-info border-info card">
                                <div class="widget-chat-wrapper-outer">
                                    <div class="widget-chart-content">
                                        <button class="btn-icon-vertical btn-transition  pt-2 pb-2 btn btn-outline-link">
                                            <i class="fa fa-angry text-dark btn-icon-wrapper mb-2"> </i>
                                            Support
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-2">
                            <div class="widget-chart widget-chart2 text-left mb-3 card-btm-border card-shadow-info border-info card">
                                <div class="widget-chat-wrapper-outer">
                                    <div class="widget-chart-content">
                                        <button class="btn-icon-vertical btn-transition  pt-2 pb-2 btn btn-outline-link">
                                            <i class="fa fa-meteor text-dark btn-icon-wrapper mb-2"> </i>
                                            Support
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-2">
                            <div class="widget-chart widget-chart2 text-left mb-3 card-btm-border card-shadow-info border-info card">
                                <div class="widget-chat-wrapper-outer">
                                    <div class="widget-chart-content">
                                        <button class="btn-icon-vertical btn-transition  pt-2 pb-2 btn btn-outline-link">
                                            <i class="fa fa-water text-dark btn-icon-wrapper mb-2"> </i>
                                            Support
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
</div>
{% endblock %}